<% provide(:title, "Session Sign-In") %>
<!-- <div class="center jumbotron"> is a BOOTSTARAP thing -->
<h1> Welcome User - Please Sign-In (or Sign-Up)</h1>
<% puts " "%>
<% puts " YOU ARE HERE: line 5 views/sessions/new.html.erb"       %>
<% puts " Session Sign_In which provides A LINK TO the Sign_Up "  %>
<% puts " which is in USERS/new.html.erb which provides the "     %>
<% puts " connection to the MODEL and ACTIVE RECORD              "%>
<% puts " " %>
<% puts " THIS FORM WILL GENERATE THE SESSION, and will  " %>
<% puts " create the PARAMS hash of params[:session][:email] and              " %>
<% puts " params[:session][:password].  These items are used to " %>
<% puts " reference back to the user in the MODEL via ActRec" %>
<% puts " and down into the database." %>
<% puts " !!!!   params is the hash and session is the key     !!!" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <%= form_tag do %>

    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, "", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit_tag "Sign In" %> or <%=link_to "Sign Up", sign_up_path %>
    </div>

  <% end %> <!-- end the form tag DO -->
            <!-- params hash of sessions created , see above -->
  </div> <!-- close col div -->
</div> <!-- close the row div -->


  <!-- <div class="tinybox"> -->
  <!--   <  = image_tag("hero.jpg", alt: "what_happens") %> -->
  <!-- </div>  closes the tiny box attempt to put in a background -->
