
<%provide(:title, "Sign_Up New User")%>
<h1>New Users Sign_Up Here</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<!-- <h1>views/users/new.html.erb</h1> -->
<!-- shared/error_messages  is in app/views/shared/_error_messages.html.erb  -->
<!-- its a partial  -->
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, label: "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit "Sign-Up !", class: "btn btn-primary"%>
      <% end %>
  </div> <!-- close the col class -->
</div>  <!-- close the row div  -->
