<!DOCTYPE html>
<html>
  <head>
    <!-- <title><full_title(yield(:title))></title>  ref 140 -->
    <!-- full_title not reqd if diligent about adding titiles  -->
    <title><%=yield(:title)%> | dasBLURB die meisten 175</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <!-- the line above will LOOK for a file named  -->
    <!-- app/views/layouts/_shim.html.erb  aka, A _PARTIAL -->
  </head>
  <body>

    <%= render 'layouts/header' %>
      <!-- header element w/three CSS classes -->

      <!-- <% if @current_user %> -->
      <!--  <div> -->
      <!--    <%= link_to 'Sign-Out', sign_out_path, method: :delete %>  -->
      <!--  </div>  -->
      <!--  <% end %>  -->
      <div class="container"> <!-- container is a BOOTSTRAP reserved DIV -->
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <!-- = debug(params) if Rails.env.development? %>     note 1 -->
      </div>
      <%= puts "    "%>
      <%= puts "     app/views/layouts/application.html.erb "%>
      <%= puts "          DEBUG PARAMS IS DISABLED "%>
      <%= puts "  *********   localhost:3000     ********* "%>
      <%= puts " waiting for user input at sign_in or sign_up form "%>
      <%= puts "          DEBUG PARAMS IS DISABLED "%>
      <%= puts "    "%>
  </body>
</html>

<!-- note 1   RAILS has 3 default environments  -->
<!-- test, development and production           -->
<!-- this line creates a debug window and restricts that -->
<!-- window to the development environment.  -->
